.chats-list {
  width: 310px;
  position: relative;
  height: calc(100vh - 17px);
  // background-color: aquamarine;
  background-color: #fbfbfb;
  border-right: 1px solid #eaeaea;
  // padding: 17px 10px 0 10px;
  overflow-y: auto;
  overflow-x: hidden;

  &__wrapper {
    position: absolute;
    left: 0;
    top: 0;

    padding: 17px 10px 0 10px;
    /* overflow: hidden; */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__top-buttons {
    width: 290px;
    display: flex;
    height: 20px;
    // background-color: bisque;
    display: flex;
    justify-content: space-between;
  }
}
