.btn-new-chat {
  position: relative;
  margin: 0;
  padding-left: 24px;
  display: block;
  padding-top: 4px;
  font-size: 12px;
  line-height: 12px;
  color: #464646;
  opacity: 0.5;
  transition: opacity 0.1s linear;
  cursor: pointer;

  &:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    transition: background 0.1s linear, border 0.1s linear;
    // background: url('../../../img/add-user.svg') no-repeat;
    background: url('../../../img/add-user.svg') no-repeat;
  }
  &:hover {
    opacity: 1;
    transition: opacity 0.2s linear;
  }
}

.btn-profile {
  position: relative;
  margin: 0;
  padding-right: 16px;
  display: block;
  padding-top: 4px;
  font-size: 12px;
  line-height: 12px;
  // color: #999999;
  color: #464646;
  opacity: 0.5;
  transition: opacity 0.1s linear;
  cursor: pointer;

  &:after {
    content: '';
    display: block;
    width: 6px;
    height: 10px;
    background-size: 6px 10px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    z-index: 1;
    box-sizing: border-box;
    transition: background 0.1s linear, border 0.1s linear;
    background: url('../../../img/arrow-right.svg') no-repeat;
  }
  &:hover {
    opacity: 1;
    transition: opacity 0.2s linear;
  }
}
