.err-page {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 410px;
  height: 200px;

  &__title {
    font-weight: 500;
    font-size: 84px;
    line-height: 84px;
    text-align: center;
    color: $title-main;
    margin: 0;
    margin-bottom: 14px;
  }

  &__description {
    display: flex;
    max-width: 325px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: $title-main;
    padding: 0;
    margin: 0 auto 30px auto;

    &_500 {
      width: 225px;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 11px;
    text-align: center;
    color: $btn-text;
    text-decoration: none;
  }
}
