.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);

  &_visible {
    display: flex;
  }

  &_msg {
    background-color: transparent;
  }

  &__body {
    width: 340px;
    height: 257px;
    box-sizing: border-box;
    display: flex;
    margin: auto;
    margin-right: calc((100% - 340px) / 2 - 32px);
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
    border-radius: 8px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);

    &_msg {
      margin: 0;
      padding: 15px;
      width: 162px;
      height: 128px;
      position: absolute;
      display: block;
      left: 330px;
      bottom: 80px;
      border-radius: 12px;
    }
  }

  &__text-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  &__action-title {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #1e1e1e;
  }

  &__description {
    display: flex;
    margin: auto;
    margin-top: 43px;
    width: 122px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-decoration-line: underline;
    color: #3369f3;
    cursor: pointer;
  }

  &__btn-cont {
    width: 201px;
    display: flex;
    margin: auto;
    justify-content: space-between;
  }

  &__btn {
    display: flex;
    margin: 30px auto 0 auto;

    &_small {
      width: 97px;
    }

    &_white {
      background-color: #fff;

      &:hover {
        background-color: rgba(122, 152, 250, 0.262);
      }
    }
  }

  &__btn-text {
    color: #3369f3;
  }

  &__user-to-delete {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #1e1e1e;
    margin: 0;
    padding: 0;

    span {
      font-weight: 600;
    }
  }

  &__exclam {
    position: relative;
    margin: 0;
    padding-left: 40px;
    margin-bottom: 50px;
    display: block;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #1e1e1e;
    transition: opacity 0.1s linear;
    text-decoration: none;

    &:before {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      background: url("../../../img/exclam-sign.svg") no-repeat;
      background-size: 30px 30px;
      margin-top: 3px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      box-sizing: border-box;
      transition: background 0.1s linear;
    }
  }

  &__fset {
    width: 100%;
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid #3369f3;
    display: block;
    padding-bottom: 3px;

    &_no-border {
      border: none;
    }
  }

  &__label {
    padding: 0;
    height: 13px;
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;
    color: #999;
  }

  &__input {
    padding: 0;
    width: 100%;
    padding-bottom: 3px;
    padding-top: 8px;
    height: 13px;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: #1e1e1e;
    text-align: left;
    border: none;

    &:focus {
      outline: none;
    }
  }
}
