div(class="pform__ctrls-container" class=ctrlsContainer)
    div(class="pform__fset")
        span(class="pform__btn-link" id='chng-data-btn-form-profile') Изменить данные
    div(class="pform__fset")
        span(class="pform__btn-link" id='chng-pwd-btn-form-profile') Изменить пароль 
    div(class="pform__fset")
        a(class="pform__btn-link pform__btn-link_exit" id="profile-btn-logout") Выйти
