.btn-circle {
  width: 30px;
  height: 28px;
  padding: 0;
  border: none;
  cursor: pointer;
  background: url("../../../img/send-msg.svg") no-repeat;
  transition: background 0.1s linear;
  transform: rotate(-180deg);
  display: flex;
  margin: auto;

  &:focus {
    outline: none;
  }

  &:hover {
    background: url("../../../img/send-msg-hover.svg") no-repeat;
    transition: background 0.1s linear;
  }
}
