div(class="popup popup_visible popup_msg")
    div(class="popup__body popup__body_msg")
        p(class="add-media") Фото или Видео
        p(class="add-media add-media_file") Файл
        p(class="add-media add-media_location") Локация
