.profile {
  width: 100%;
  height: 100vh;
  display: flex;

  &__back {
    width: 64px;
    height: 100%;
    background-color: #fbfbfb;
    border-right: 1px solid #eaeaea;
    display: flex;
  }

  &__info-cont {
    width: calc(100% - 64px);
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__info {
    width: 510px;
    margin: 60px auto auto auto;
    display: flex;
    flex-direction: column;
  }

  &__avatar-cont {
    display: flex;
    margin: 0 auto;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__avatar {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    cursor: pointer;
    background-size: auto;
    background-image: url('../../../img/profile-avatar.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #efefef;

    &:after {
      content: '';
      display: block;
      width: 130px;
      height: 130px;
      position: absolute;
      padding: 50px 32px 0 32px;
      top: 0;
      right: 0;
      z-index: 1;
      background-color: transparent;
      box-sizing: border-box;
      transition: opacity 0.2s linear;
      opacity: 0;
    }

    &:hover:after {
      font-weight: 500;
      font-size: 13px;
      line-height: 14px;
      text-align: center;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.5);
      content: 'Поменять аватар';
      opacity: 1;
      transition: opacity 0.2s linear;
    }
  }

  &__name {
    display: flex;
    margin: 21px auto 60px auto;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #1e1e1e;
  }

  &__user-info {
    width: 100%;
  }
}
