.login-form {
  min-height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #1e1e1e;
  }

  &__fset {
    width: 100%;
    margin-bottom: 8px;
    border: none;
    border-bottom: 1px solid #3369f3;
    display: block;
    padding-bottom: 3px;

    &_no-border {
      border: none;
    }
  }

  &__label {
    padding: 0;
    height: 13px;
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;
    color: #999;
    opacity: 1;

    &_hide {
      opacity: 0;
    }
  }

  &__err-message {
    margin-top: -5px;
    padding: 0;
    height: 11px;
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;
    color: #ff2f2f;
    text-align: left;
  }

  &__input {
    padding: 0;
    width: 100%;
    padding-bottom: 2px;
    padding-top: 3px;
    height: 13px;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: #1e1e1e;
    text-align: left;
    border: none;

    &_err {
      color: #ff2f2f;
    }

    &:focus {
      outline: none;
    }
  }

  &__btn {
    width: 100%;

    &_white {
      height: auto;
      background-color: #fff;
      margin-top: 14px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.262);

        .login-form__btn-text {
          color: #6485da;
          transition: color 0.1s linear;
        }
      }
    }
  }

  &__btn-text {
    font-size: 11px;
    line-height: 11px;
    color: #3369f3;
    transition: color 0.1s linear;
  }

  &__btn-cont {
    margin-top: 50px;
    width: 100%;
    color: #3369f3;
    display: flex;
    flex-direction: column;
  }

  &__btn-save {
    margin-left: auto;
    margin-right: auto;
  }

  &__btn-link {
    padding: 0;
    height: 13px;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    border: none;
    text-decoration: none;
    color: #3369f3;

    &:focus {
      outline: none;
    }

    &_exit {
      color: #f00;
    }
  }
}
