.time-status {
  position: relative;
  margin: 0;
  padding-left: 14px;
  display: block;
  padding-top: 0;
  font-weight: 500;
  font-size: 9px;
  line-height: 9px;
  color: #3369f3;
  opacity: 0.5;
  transition: opacity 0.1s linear;
  cursor: pointer;

  &:before {
    content: "";
    display: block;
    width: 14px;
    height: 9px;
    background: url("../../../img/read.svg") no-repeat;
    background-size: 14px 9px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 2px;
    z-index: 1;
    box-sizing: border-box;
    transition: background 0.1s linear;
  }
}
