div(class="err-page")
   h1(class="err-page__title") Error 404
   p(class="err-page__description") Упс... Похоже данная страница не существует
   a(class="err-page__link" href="./index.html") Перейти к чатам

        