.messages {
  width: calc(100% - 310px);
  height: calc(100vh - 17px);
  /* background-color: cadetblue; */
  display: flex;
}

.title {
  display: flex;
  margin: auto;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
}
