.profile {
  width: 100%;
  height: 100vh;
  display: flex;
  //   background-color: aquamarine;

  &__back {
    width: 64px;
    height: 100%;
    background-color: #fbfbfb;
    border-right: 1px solid #eaeaea;
    display: flex;
  }
  &__info-cont {
    width: calc(100% - 64px);
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__info {
    width: 510px;
    margin: 60px auto auto auto;
    display: flex;
    flex-direction: column;
  }
  &__avatar {
    display: flex;
    margin: 0 auto;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    // background-size: 40px 40px;
    cursor: pointer;
    background: #efefef url('../../../img/profile-avatar.svg') center no-repeat;
  }
  &__name {
    display: flex;
    margin: 21px auto 60px auto;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #1e1e1e;
  }
  &__user-info {
    width: 100%;
  }
}
